<section class="bookmarks-wrapper container medium">
    <div class="bookmarks-section" style="display:none;">
        <h2 class="featured-title">Bookmarks</h2>
        <div class="bookmarks-box"></div>
    </div>
</section>