{{setvar 'original' 0 }}
{{#foreach tags visibility="internal"}}
{{#if (compare name '#original')}}
    {{setvar 'original' 1 }}
{{/if}}
{{/foreach}}
<article class="single {{post_class}}">
    <header class="single-header kg-canvas">
        {{#is "post"}}
            <div class="single-meta">
               <span class="single-meta-item">
                   <i data-url="{{url}}" class="fa fa-bookmark-o bookmark" title="Bookmark this article" data-elem="book-mark"></i>
                </span>
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                    </time>
                </span>
                <span class="single-meta-item single-meta-length">
                    {{reading_time}}
                </span>
                {{#foreach tags}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">
                            {{name}}
                        </a>
                    </span>
                {{/foreach}}
                {{#if (compare @root.original 1) }}
                    {{#foreach authors}}
                        <div class="author">
                            <span class="meta_author_name">written by <a href="/author/{{name}}" class="">{{name}}</a></span>
                            <div class="author-image-placeholder u-placeholder square">
                                <a href="{{url}}" title="{{name}}">
                                    <img class="author-image lazyload u-object-fit"
                                        src="{{profile_image}}"
                                        alt="{{name}}">
                                </a>
                            </div>
                        </div>
                    {{/foreach}}
                {{/if}}
            </div>
        {{/is}}
        <h1 class="single-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <div class="single-excerpt">
                {{custom_excerpt}}
            </div>
        {{/if}}
        {{#if feature_image}}
            {{#unless no_image}}
                <div class="single-media kg-width-{{width}} u-placeholder horizontal">
                    <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
                        data-sizes="auto" src="{{img_url feature_image size="l"}}"
                        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        alt="{{title}}">
                </div>
            {{/unless}}
        {{/if}}
    </header>
    <div class="single-content kg-canvas u-text-format">
        {{#if @labs.members}}
            {{#if access}}
                {{content}}
                {{#is "post"}}
                    {{#unless @member}}
                        <section class="single-cta">
                            <h2 class="single-cta-title">Enjoying these posts? Subscribe for more</h2>
                            <button class="button single-cta-button" data-portal="signup">Subscribe now</button>
                            <br>
                            <button class="button-text single-cta-footer" data-portal="signin">Already have an account? Sign in</button>
                        </section>
                    {{/unless}}
                {{/is}}
            {{else}}
                <p>
                    You don't have access to this post at the moment,
                    but if you upgrade your account you'll be able to see the whole thing,
                    as well as all the other posts in the archive! Subscribing will give you immediate access.
                </p>
                <section class="single-cta">
                    {{#has visibility="paid"}}
                        <h2 class="single-cta-title">This post is for paying subscribers only</h2>
                    {{else}}
                        <h2 class="single-cta-title">This post is for subscribers only</h2>
                    {{/has}}

                    {{#if @member}}
                        {{#unless @member.paid}}
                            <button class="button single-cta-button" data-portal="account/plans">Upgrade now</button>
                        {{/unless}}
                    {{else}}
                        <button class="button single-cta-button" data-portal="signup">Subscribe now</button>
                        <br>
                        <button class="button-text single-cta-footer" data-portal="signin">Already have an account? Sign in</button>
                    {{/if}}
                </section>
            {{/if}}
        {{else}}
            {{content}}
        {{/if}}
    </div>
    {{#is "post"}}
        <footer class="single-footer container medium">
            <div class="single-footer-left">
                {{#prev_post}}
                    <div class="navigation navigation-previous">
                        <a class="navigation-link" href="{{url}}"
                            aria-label="Previous post">
                            <svg class="icon navigation-icon">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </a>
                    </div>
                {{/prev_post}}
                
            </div>
            <div class="single-footer-middle">
                {{#if (compare @root.original 0) }}
                <div class="single-footer-top">
                    
                    <h3 class="single-footer-title">Picked by:</h3>
                    <div class="author-list">
                        {{#foreach authors}}
                            <div class="author">
                                <div class="author-image-placeholder u-placeholder square">
                                    <a href="{{url}}" title="{{name}}">
                                        <img class="author-image lazyload u-object-fit"
                                            data-srcset="{{img_url profile_image size="xs"}}"
                                            src="{{img_url profile_image size="xs"}}"
                                            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            alt="{{name}}">
                                    </a>
                                </div>
                                <span class="meta_author_name"><a href="/author/{{name}}" class="">{{name}}</a></span>
                            </div>
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
                <!-- 
                <div class="single-footer-bottom">
                    <div class="share">
                        <a class="share-link share-link-facebook"
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon-facebook">
                                <use xlink:href="#facebook"></use>
                            </svg>
                            Share
                        </a>
                        <a class="share-link share-link-twitter"
                            href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                            target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon-twitter">
                                <use xlink:href="#twitter"></use>
                            </svg>
                            Tweet
                        </a>
                    </div>
                </div>
                -->
            </div>
            <div class="single-footer-right">
                {{#next_post}}
                    <div class="navigation navigation-next">
                        <a class="navigation-link" href="{{url}}"
                            aria-label="Next post">
                            <svg class="icon navigation-icon">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                {{/next_post}}
            </div>
        </footer>
    {{/is}}
</article>