<div class="cover container">
    <div class="cover-content">
        <div class="cover-title">{{@site.title}}</div>
        <div class="cover-description">· Newspaper · Publisher · Collector ·</div>

        {{#if @labs.members}}
            {{#unless @member}}
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                    <button class="button button-secondary members-login" data-portal="signin">Login</button>
                </div>
            {{/unless}}
        {{/if}}
    </div>
</div>