<header class="site-header container">
    <div class="header-left">
        <a class="logo" href="{{@site.url}}">
            {{#if @site.logo}}
                <div class="logo-image taf"></div>
            {{else}}
                <span class="logo-text">{{@site.title}}</span>
            {{/if}}
        </a>
    </div>
    {{#if @site.navigation}}
        <nav class="main-nav hidden-xs hidden-sm hidden-md">
            {{navigation}}
            {{#if @labs.members}}
                <button class="button-icon menu-item-button js-modal" data-modal="search" aria-label="Search">
                    <svg class="icon">
                        <use xlink:href="#magnify"></use>
                    </svg>
                </button>
            {{/if}}
        </nav>

        <button class="button-icon hidden-lg hidden-xl js-modal" data-modal="search" aria-label="Search">
            <svg class="icon">
                <use xlink:href="#magnify"></use>
            </svg>
        </button>
        <button class="button-icon hidden-lg hidden-xl js-modal">
            <i class="fa fa-bookmark bookmarks" title="Bookmarks"></i>
        </button>

        <div class="burger hidden-lg hidden-xl">
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
        </div>

        <div class="mobile-menu hidden-lg hidden-xl">
            <div class="container">
                <nav class="mobile-nav">
                    {{navigation}}
                    {{#if @labs.members}}
                        {{#if @member}}
                            <button class="button-text menu-item members-account" data-portal="account">Account</button>
                            {{#unless @member.paid}}
                                <button class="button-text menu-item menu-item-cta members-upgrade" data-portal="account/plans">Upgrade</button>
                            {{/unless}}
                        {{else}}
                            <button class="button-text menu-item members-login" data-portal="signin">Login</button>
                            <button class="button-text menu-item menu-item-cta members-subscribe" data-portal="signup">Subscribe</button>
                        {{/if}}
                    {{/if}}
                </nav>
            </div>
        </div>
    {{/if}}
    <div class="header-right hidden-xs hidden-sm hidden-md">
        {{#if @labs.members}}
            {{#if @member}}
                <button class="button-text menu-item members-account" data-portal="account">Account</button>
                {{#unless @member.paid}}
                    <button class="button-text menu-item menu-item-cta members-upgrade" data-portal="account/plans">Upgrade</button>
                {{/unless}}
            {{else}}
                <button class="button-text menu-item members-login" data-portal="signin">Login</button>
                <button class="button-text menu-item menu-item-cta members-subscribe" data-portal="signup">Subscribe</button>
            {{/if}}
        {{else}}
            <a class="menu-item button-icon js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
                <svg class="icon theme-icon theme-icon-system">
                    <use xlink:href="#circle-half-full"></use>
                </svg>
                <svg class="icon theme-icon theme-icon-dark">
                    <use xlink:href="#brightness-2"></use>
                </svg>
                <svg class="icon theme-icon theme-icon-light">
                    <use xlink:href="#white-balance-sunny"></use>
                </svg>
            </a>
            
            <a class="" href="#">
                <button class="button-icon">
                    <i class="fa fa-bookmark-o bookmarks" title="Bookmarks" style="margin-top: -3px;"></i>
                </button>
            </a>
            <button class="button-icon" data-modal="search" aria-label="Search" title="Search">
                <svg class="icon">
                    <use xlink:href="#magnify"></use>
                </svg>
            </button>
            
        {{/if}}
    </div>
</header>

{{#is "post"}}
    {{#post}}
        <header class="sticky">
            <div class="sticky-title">{{title}}</div>
            <button class="button-icon sticky-toc-button" aria-label="Table of Contents">
                <svg class="icon">
                    <use xlink:href="#table-of-contents"></use>
                </svg>
                <div class="sticky-toc"></div>
            </button>
            <div class="sticky-track">
                <div class="sticky-progress"></div>
            </div>
        </header>
    {{/post}}
{{/is}}