<section class="featured-wrapper container medium">
    <h2 class="featured-title">Flickr</h2>
    <ul class="picture-grid row">
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
        <li class="col-1">
            <a class="img-frame" target="_blank" href="#">
            </a>
        </li>
    </ul>
</section>