<article class="feed {{post_class}}">
    <div class="feed-options"><i data-url="{{url}}" class="fa fa-bookmark-o bookmark" title="Save in your collection" data-elem="book-mark"></i></div>
    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>
    {{setvar 'image' feature_image}}
    {{setvar 'excerpt' custom_excerpt}}
    {{setvar 'my_url' url}}
    {{setvar 'my_title' title}}
    <a class="feed-title" href="{{url}}" aria-label="{{title}}"><h2 class="feed-title">{{title}}</h2></a>
    {{#foreach tags visibility="internal"}}
        {{#if (compare name '#detailed')}}
            {{#if @root.excerpt}}
                <div class="aside">
                <div class="single-excerpt detailed">
                    {{@root.excerpt}}
                </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if (compare name '#extended')}}
            <div class="aside">
                <a class="" href="{{@root.my_url}}" aria-label="{{@root.my_title}}">
                    <img class="lazyload extended-image" data-sizes="auto" src="{{@root.image}}" alt="{{@root.my_title}}">
                </a>
            </div>
        {{/if}}
    {{/foreach}}
    <div class="aside catbox">
    {{#foreach tags}}
        <a class="cat" href="/tag/{{slug}}">{{name}}</a><span class="sep"> </span>
    {{/foreach}}
    </div>
    
    <div class="feed-right">
        {{#if @labs.members}}
            <svg class="icon feed-visibility feed-visibility-{{visibility}}">
                <use xlink:href="#star"></use>
            </svg>
        {{/if}}
        
        <a class="" href="{{url}}" aria-label="{{title}}"><div class="feed-length">
            {{reading_time}}
        </div></a>
    </div>
    <svg class="icon feed-icon">
        <use xlink:href="#chevron-right"></use>
    </svg>
</article>