<section class="search-wrapper container medium">
    <div class="top-search search-bar">
        <input id="ghost-search-field" placeholder="Search anything" class="search-submit" type="" />
        <i class="fa fa-close ta-close"></i>
        <div class="tools">
            <i class="fa fa-question-circle help" aria-hidden="true"></i>
            <span class="is-quoted"></span>
            <div style="display: inline-block;" title="Any of the entered words must match">
                <input name="relate" data-value="OR" type="radio" checked="checked" />
                <label>Any</label>
            </div>
            <div style="display: inline-block;" title="All the entered words must match">
                <input name="relate" data-value="AND" type="radio" />
                <label>All</label>
            </div>
        </div>
    </div>
    <div class="ghost-search-header">
        <div class="archive-header">
           <h2 class="featured-title" style="margin-bottom: 2rem;">Search Results</h2>
        </div>
        <div class="" id="ghost-search-results">
        </div>
    </div>

    <div class="help-box">
        You can <i>quote</i> several words to match them as a <i>full term</i>:<br><i>"some text to search"</i><br>
        otherwise, the single words will be understood as distinct <i>search terms</i>.<br>
        <div class="mode-box"><b>ANY</b> of the entered words would match</div>
    </div>
    
</section>
