<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left;}
  #mc_embed_signup .asterisk { position: absolute; right: 10px; top: 5px; }
  #mc_embed_signup form { padding: 0;}
  #mc_embed_signup input::placeholder { color: #444; }
  #mc_embed_signup .clear, #mc_embed_signup_scroll > p {padding-left: 0px;}
  #mc_embed_signup .field-group:first-of-type { padding-top: 10px; }
  #mc_embed_signup .field-group { padding-left: 0px; margin-bottom: 10px; position: relative;}
  #mc_embed_signup .button { height: auto;background-color: transparent;border-radius: 0px;text-transform: unset;padding: 10px 0px;}
  #mc_embed_signup .button:hover { background-color: transparent;}
</style>
<div id="mc_embed_signup">
  <form action="https://articlefeed.us3.list-manage.com/subscribe/post?u=c0a930fe1be08072f91ce8e97&amp;id=b7d3f2ff6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="single-content animate-box fadeInUp animated-fast">
        <div class="column-2 subscribe animate-box fadeInUp animated-fast">
        {{content}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Details</h3>
          <div class="field-group">
            <input type="text" value="" placeholder="Your name" name="FNAME" class="" id="mce-FNAME" />
          </div>
          <div class="field-group">
            <input type="email" value="" placeholder="Email address"  name="EMAIL" class="required email" id="mce-EMAIL" />
            <span class="asterisk">*</span>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <div class="mc-field-group input-group">
            <h3>Feed Categories</h3>
            <ul>
              <li><input type="checkbox" value="1" name="group[25125][1]" id="mce-group[25125]-25125-0"><label for="mce-group[25125]-25125-0">Consciousness</label></li>
              <li><input type="checkbox" value="2" name="group[25125][2]" id="mce-group[25125]-25125-1"><label for="mce-group[25125]-25125-1">Awareness</label></li>
              <li><input type="checkbox" value="4" name="group[25125][4]" id="mce-group[25125]-25125-2"><label for="mce-group[25125]-25125-2">Health</label></li>
              <li><input type="checkbox" value="8" name="group[25125][8]" id="mce-group[25125]-25125-3"><label for="mce-group[25125]-25125-3">Science</label></li>
              <li><input type="checkbox" value="16" name="group[25125][16]" id="mce-group[25125]-25125-4"><label for="mce-group[25125]-25125-4">Psychology</label></li>
              <li><input type="checkbox" value="32" name="group[25125][32]" id="mce-group[25125]-25125-5"><label for="mce-group[25125]-25125-5">Enviromental</label></li>
              <li><input type="checkbox" value="64" name="group[25125][64]" id="mce-group[25125]-25125-6"><label for="mce-group[25125]-25125-6">Social Issues</label></li>
              <li><input type="checkbox" value="128" name="group[25125][128]" id="mce-group[25125]-25125-7"><label for="mce-group[25125]-25125-7">Discover</label></li>
              <li><input type="checkbox" value="256" name="group[25125][256]" id="mce-group[25125]-25125-8"><label for="mce-group[25125]-25125-8">Exopolitics</label></li>
              <li><input type="checkbox" value="512" name="group[25125][512]" id="mce-group[25125]-25125-9"><label for="mce-group[25125]-25125-9">Philosophy</label></li>
              <li><input type="checkbox" value="1024" name="group[25125][1024]" id="mce-group[25125]-25125-10"><label for="mce-group[25125]-25125-10">Psychedelics</label></li>
              <li><input type="checkbox" value="2048" name="group[25125][2048]" id="mce-group[25125]-25125-11"><label for="mce-group[25125]-25125-11">Personal Development</label></li>
              <li><input type="checkbox" value="4096" name="group[25125][4096]" id="mce-group[25125]-25125-12"><label for="mce-group[25125]-25125-12">History</label></li>
              <li><input type="checkbox" value="8192" name="group[25125][8192]" id="mce-group[25125]-25125-13"><label for="mce-group[25125]-25125-13">Spirituality</label></li>
              <li><input type="checkbox" value="16384" name="group[25125][16384]" id="mce-group[25125]-25125-14"><label for="mce-group[25125]-25125-14">Astrology</label></li>
              <li><input type="checkbox" value="32768" name="group[25125][32768]" id="mce-group[25125]-25125-15"><label for="mce-group[25125]-25125-15">Neuroscience</label></li>
              <li><input type="checkbox" value="65536" name="group[25125][65536]" id="mce-group[25125]-25125-16"><label for="mce-group[25125]-25125-16">Lifestyle</label></li>
              <li><input type="checkbox" value="131072" name="group[25125][131072]" id="mce-group[25125]-25125-17"><label for="mce-group[25125]-25125-17">Ted talks</label></li>
              <li><input type="checkbox" value="262144" name="group[25125][262144]" id="mce-group[25125]-25125-18"><label for="mce-group[25125]-25125-18">Tales</label></li>
              <li><input type="checkbox" value="524288" name="group[25125][524288]" id="mce-group[25125]-25125-19"><label for="mce-group[25125]-25125-19">Bio</label></li>
            </ul>
          </div>
        </div>
      </div>
      <br/>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_c0a930fe1be08072f91ce8e97_b7d3f2ff6b" tabindex="-1" value="">
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->