{{#get "posts" filter="tag:hash-trend" limit="all" as |featured|}}
    <section class="featured-wrapper container medium">
        <h2 class="featured-title">Trending</h2>
        <div class="static-featured-feed owl">
            {{#foreach featured visibility="all"}}
                <article class="{{post_class}}">
                    {{#if feature_image}}
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="{{> srcset}}" data-sizes="auto"
                                src="{{img_url feature_image size="m"}}"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="{{title}}">
                        </div>
                    {{/if}}
                    <a href={{url}} aria-label="{{title}}"><h3 class="post-title">{{title}}</h3></a>
                    <div>
                        <span><small title="Published on {{date format="MMMM D, YYYY"}}">{{date format="MMMM D, YYYY"}}</small></span>
                        <span style="float:right;"><small class="view-count" title="Unique pageviews during the last 7 days"></small></span>
                    </div>
                </article>
            {{/foreach}}
        </div>
    </section>
{{/get}}