<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left;}
  #mc_embed_signup .asterisk { position: absolute; right: 10px; top: 15px; }
  #mc_embed_signup form { padding: 0;}
  #mc_embed_signup input::placeholder { color: #444; }
  #mc_embed_signup .clear, #mc_embed_signup_scroll > p {padding-left: 0px;}
  #mc_embed_signup .field-group:first-of-type { padding-top: 10px; }
  #mc_embed_signup .field-group { padding-left: 0px; margin-bottom: 10px; position: relative;}
  #mc_embed_signup .button { height: auto;background-color: transparent;border-radius: 0px;text-transform: unset;padding: 10px 0px;}
  #mc_embed_signup .button:hover { background-color: transparent;}
</style>
<div id="mc_embed_signup">
  <form id="mc-unsubscribe-form" action="https://articlefeed.us3.list-manage.com/unsubscribe/post" method="POST">
    <div id="mc_embed_signup_scroll">
      <div class="single-content animate-box fadeInUp animated-fast">
        <div class="column-2 subscribe animate-box fadeInUp animated-fast">
        {{content}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="hidden" name="u" value="c0a930fe1be08072f91ce8e97">
          <input type="hidden" name="id" value="b7d3f2ff6b">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="field-group">
            <input type="text" name="EMAIL" placeholder="Your email" value="" id="email-address">
            <span class="asterisk">*</span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <input class="button" type="submit" value="Unsubscribe">
        </div>
      </div>

    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>