{{#get "posts" filter="tag:hash-most-visited" limit="all" as |featured|}}
    <section class="featured-wrapper container medium">
        <div class="inliner"><h2 class="featured-title">Most visited</h2>  <small>During the last 7 days</small></div>
        <div class="featured-feed owl visited">
            {{#foreach featured visibility="all"}}
                <article class="{{post_class}}" data-uri="{{url}}">
                    {{#if feature_image}}
                        <div class="u-placeholder horizontal">
                            <a href={{url}} aria-label="{{title}}">
                                <img class="lazyload u-object-fit"
                                    data-srcset="{{> srcset}}" data-sizes="auto"
                                    src="{{img_url feature_image size="m"}}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="{{title}}">
                            </a>
                        </div>
                    {{/if}}
                    <a href={{url}} aria-label="{{title}}"><h3 class="post-title">{{title}}</h3></a>
                    <div>
                        <span><small title="Published on {{date format="MMMM D, YYYY"}}">{{date format="MMMM D, YYYY"}}</small></span>
                        <span style="float:right;"><small class="view-count" title="Unique pageviews during the last 7 days"></small></span>
                    </div>
                </article>
            {{/foreach}}
        </div>
    </section>
{{/get}}