label {
    display: block;
    color: var(--darker-gray-color);
    font-size: 1.4rem;
    font-weight: 700;
}

label + label {
    margin-top: 2rem;
}

label input,
label textarea {
    margin-top: 0.7rem;
}

input,
textarea {
    padding: 0 1.5rem;
    width: 100%;
    height: 44px;
    outline: none;
    border: 1px solid var(--light-gray-color);
    color: var(--darker-gray-color);
    font-size: 1.6rem;
    background-color: var(--white-color);
    border-radius: 5px;
    appearance: none;
}

input:focus,
textarea:focus {
    border-color: var(--mid-gray-color);
}

textarea {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    resize: vertical;
}

.form-wrapper {
    position: relative;
}

.form-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
    color: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.form-button .icon-loading {
    display: none;
}

.loading .form-button .icon {
    display: none;
}

.loading .form-button .icon-loading {
    display: block;
}

.contact-form {
    margin-top: 3rem;
}

.contact-form .button {
    margin-top: 1.5rem;
}

#mc_embed_signup {
    background: transparent!important;
}

#mc_embed_signup input[type="checkbox"] {
    border-radius: 3px;
    -webkit-appearance: checkbox;
    height: 25px!important;
    width: 25px!important;
}

#mc_embed_signup input[type="submit"]{
    font-family: var(--font-base);
    font-size: 2rem;
    letter-spacing: -.03rem;
    font-weight: bold;
    color: var(--brand-color);
}

#mc_embed_signup #mc_embed_signup_scroll label {
    line-height: 1.15;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
}
#mc_embed_signup ul li {
    width: 50%;
    float: left;
}
