<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display" >
    
    <script type="text/javascript">
        var siteUrl = '{{@site.url}}', post_class = '';
    </script>
    <script type="text/javascript">
        var localTheme = localStorage.getItem('dawn_theme');
        switch (localTheme) {
            case 'dark':
                document.documentElement.classList.add('theme-dark');
                break;
            case 'light':
                document.documentElement.classList.add('theme-light');
                break;
            default:
                break;
        }
    </script>
    {{ghost_head}}
    <title>{{meta_title}}</title>
</head>

<body class="{{body_class}}{{{block "body_class"}}}">
    {{> icons}}

    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> cover}}
            {{> search}}
            {{> bookmarks}}
            {{> featured}}
        {{else}}
            {{> search}}
            {{> bookmarks}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{#is "home"}}
            {{> visited}}
            {{> trend}}
        {{/is}}
        {{> images}}
        {{> footer}}
        {{> modal}}
        {{> pswp}}
    </div>

    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>
    <script src="{{asset "assets/js/defaults.js"}}"></script>
    <script src="{{asset "assets/js/visits.js"}}"></script>
    <script src="{{asset "assets/js/tr.js"}}"></script>
    <script src="{{asset "assets/js/cookie.js"}}"></script>
    <script src="{{asset "assets/js/bookmark.js"}}"></script>
    <script src="{{asset "assets/js/search.js"}}"></script>

    {{ghost_foot}}
</body>

</html>