{{!< default}}

<article class="single {{post_class}}">
    <header class="single-header kg-canvas">
        <div class="single-meta">
            <span class="single-meta-item">
                <i data-url="{{url}}" class="fa fa-bookmark-o bookmark" title="Bookmark this article" data-elem="book-mark"></i>
            </span>
            <span class="single-meta-item single-meta-date">
                <time datetime="{{date format="YYYY-MM-DD"}}">
                    {{date now}}
                </time>
            </span>
            <span class="single-meta-item single-meta-length">
                {{reading_time}}
            </span>
            <span class="single-meta-item single-meta-tag">
                <a class="post-tag post-tag-404-error" href="/">
                    404 Error
                </a>
            </span>
            {{#if (compare @root.original 1) }}
                {{#foreach authors}}
                    <div class="author">
                        <span class="meta_author_name">written by <a href="/author/{{name}}" class="">{{name}}</a></span>
                        <div class="author-image-placeholder u-placeholder square">
                            <a href="{{url}}" title="{{name}}">
                                <img class="author-image lazyload u-object-fit"
                                    src="{{profile_image}}"
                                    alt="{{name}}">
                            </a>
                        </div>
                    </div>
                {{/foreach}}
            {{/if}}
        </div>
        <h1 class="single-title">Not Found</h1>
        <div class="single-excerpt">
            The requested page was not found on this server
        </div>
        <div class="single-media kg-width-normal u-placeholder horizontal">
            <style>
                .u-placeholder.horizontal:before {
                    padding-bottom: 10%;
                }
                .u-object-fit {
                    width: 50%;
                    height: 90%;
                }
                .my-bird {
                    position: absolute;
                    width: 90px;
                    height: auto;
                    top: 56px;
                    left: 360px;
                }
                .theme-dark .black {
                    display: none;
                }
                .theme-light .white {
                    display: none;
                }
                .my-positioning {
                    width: 600px;
                    height: 200px;
                    color: black;
                    font-family: serif;
                    font-weight: 800;
                    font-size: 16rem;
                    text-rendering: optimizeLegibility;
                    word-break: break-word;
                    -webkit-font-smoothing: antialiased;
                }
                .theme-dark .my-positioning {
                    color: white;
                }
            </style>
            <img class="lazyload u-object-fit my-bird black" data-srcset=""
                data-sizes="auto" src="/content/images/2021/01/bird.png"
                srcset=""
                alt="{{title}}">
            <img class="lazyload u-object-fit my-bird white" data-srcset=""
                data-sizes="auto" src="/content/images/2021/01/bird-white.png"
                srcset=""
                alt="{{title}}">
            <span class="my-positioning">404</span>
        </div>
    </header>
    <div class="single-content kg-canvas u-text-format">
        <p>Well...</p>
        <p>We couldn't find any page responding to that url in our server. You can always visit the <a href="/">Home</a> page.</p>
    </div>
    <footer class="single-footer container medium">
        <div class="single-footer-left">
            <div class="navigation navigation-previous">
                <a class="navigation-link" href="/"
                    aria-label="Previous post">
                    <svg class="icon navigation-icon">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </a>
            </div>
            
        </div>
        <div class="single-footer-middle">
           
        </div>
        <div class="single-footer-right">
            <div class="navigation navigation-next">
                <a class="navigation-link" href="/"
                    aria-label="Next post">
                    <svg class="icon navigation-icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </footer>
</article>
