{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#is "page"}}
            {{#post}}
                <article class="single {{post_class}}">
                    <header class="single-header kg-canvas">
                        {{#is "post"}}
                            <div class="single-meta">
                            <span class="single-meta-item">
                                <i data-url="{{url}}" class="fa fa-bookmark-o bookmark" title="Bookmark this article" data-elem="book-mark"></i>
                                </span>
                                <span class="single-meta-item single-meta-date">
                                    <time datetime="{{date format="YYYY-MM-DD"}}">
                                        {{date published_at}}
                                    </time>
                                </span>
                                <span class="single-meta-item single-meta-length">
                                    {{reading_time}}
                                </span>
                                {{#primary_tag}}
                                    <span class="single-meta-item single-meta-tag">
                                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">
                                            {{name}}
                                        </a>
                                    </span>
                                {{/primary_tag}}
                                {{#if (compare @root.original 1) }}
                                    {{#foreach authors}}
                                        <div class="author">
                                            <span class="meta_author_name">written by <a href="/author/{{name}}" class="">{{name}}</a></span>
                                            <div class="author-image-placeholder u-placeholder square">
                                                <a href="{{url}}" title="{{name}}">
                                                    <img class="author-image lazyload u-object-fit"
                                                        src="{{profile_image}}"
                                                        alt="{{name}}">
                                                </a>
                                            </div>
                                        </div>
                                    {{/foreach}}
                                {{/if}}
                            </div>
                        {{/is}}
                        <h1 class="single-title">{{title}}</h1>
                        {{#if custom_excerpt}}
                            <div class="single-excerpt">
                                {{custom_excerpt}}
                            </div>
                        {{/if}}
                        {{#if feature_image}}
                            {{#unless no_image}}
                                <div class="single-media kg-width-{{width}} u-placeholder horizontal">
                                    <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
                                        data-sizes="auto" src="{{img_url feature_image size="l"}}"
                                        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        alt="{{title}}">
                                </div>
                            {{/unless}}
                        {{/if}}
                    </header>
                    <div class="single-content kg-canvas u-text-format">
                    {{> subscribe_mc}}
                    </div>
                </article>
            {{/post}}
            {{#is "post"}}
                {{> related}}
                {{> comment}}
            {{/is}}
        {{/is}}
        
    </main>
</div>

<script type="text/javascript">var __subscribe = true;</script>