{{!< default}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">Sections</h1>
        </header>
        {{#get "tags" limit="all" order="name asc"}}
            <div class="post-feed container medium">
                {{#foreach tags }}
                <div class="feed container medium" style="line-height: unset;">
                    <div style="display: block;margin-top: 30px;">
                        <a class="" href="{{url}}" aria-label="{{name}}"><h2 class="tag-name">{{name}}</h2></a>
                    </div>
                    <div class="feed-description"><span>{{description}}</span></div>
                    {{#get "posts" limit="3" order="published_at desc" filter="tag:{{slug}}" include="tags" as |tagposts|}}
                    <div style="display: block;margin-top: 15px;">
                        <div class="row" style="margin-left:0px;margin-right:0px;margin-top:10px">
                        {{#foreach tagposts}}
                        <article class="col-md-4 thumb-article" data-uri="{{url}}">
                            {{#if feature_image}}
                                {{#unless no_image}}
                                    <div class="kg-width-{{width}} u-placeholder horizontal">
                                        <img class="u-object-fit"
                                            src="{{img_url feature_image size="l"}}"
                                            alt="{{title}}">
                                    </div>
                                {{/unless}}
                            {{/if}}
                            <div class="alith_post_title_small">
                                <a class="thumb-article-link" href="{{url}}"><strong>{{title words="5"}}</strong></a>
                                <div class="feed-calendar"><span>{{date format="MMMM D, YYYY"}}</span> <!-- <span class="view-count" title="Unique pageviews during the last 7 days">32 views</span> --> </div>
                            </div>
                        </article>
                        {{/foreach}}
                        </div>
                    </div>
                    {{else}}
                    <div class="latest_style_1_item">
                        <div class="alith_post_title_small">
                            <a><strong>No articles</strong></a>
                        </div>
                    </div>
                    {{/get}}
                </div>
                {{/foreach}}
            </div>
        {{/get}}
    </main>
</div>