{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#is "page"}}
            {{#post}}
                {{> content width=""}}
            {{/post}}
            {{#is "post"}}
                {{> related}}
                {{> comment}}
            {{/is}}
        {{/is}}
    </main>
</div>