{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width=""}}
            <script type="text/javascript">
                const __post_id = "{{id}}";
            </script>
        {{/post}}
        {{#is "post"}}
            {{> related}}
            {{> comment}}
        {{/is}}
    </main>
</div>