.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 6rem 0;
}

/*--------------------------------------
  bookmark feature
--------------------------------------*/
.bookmark {
    cursor: pointer;
    margin-left: 1rem;
}
.bookmark.active {
    border-bottom-color: #f56a6a;
    color: #f56a6a !important;
}
i.active {
    color: #f56a6a !important;
}
.button-icon.active {
    color: #f56a6a !important;
}

.thumb-article {
    padding-right: 15px;
}

.thumb-article-link {
    display: block;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-frame {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    background-size: auto 100%;
    background-position: 50% 0;
}

.extended-image {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .site-content {
        padding: 3rem 0;
    }
}
