.search-input {
    height: 50px;
    border: 0;
}
.help-box {
    display: none;
    position: absolute;
    top: 95px;
    border: 1px solid #eee;
    background-color: #eee;
    max-width: 260px;
    padding: 10px 10px 10px 10px;
    word-break: none;
    font-size: .8em;
    line-height: calc(.8em * 1.6);
    border-radius: 3px;
    color: #000;
}
.help-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom-color: transparent;
    border-bottom-color: #eee;
    border-top: 0;
    margin-left: -10px;
    margin-top: -10px;
}
.search-bar {
    position: relative;
    display: none;
    margin-top: 6rem;
}
.search-bar i.ta-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: .8em;
    transition: .2s;
}
.ghost-search-header {
    display: none;
    margin-top: 2.5rem;
}

.result-text {
    height: 150px;
    position: relative;
    margin-top: 15px;
}
.result-text .read-more {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: var(--brand-color);
    font-size: 1.25rem;
}

.search-button .icon-close {
    display: none;
}
.search-button-clear .icon-search {
    display: none;
}
.search-button-clear .icon-close {
    display: block;
}

.search-result {
    overflow-y: scroll;
    max-height: 50vh;
    -webkit-overflow-scrolling: touch;
}
.search-result-row + .search-result-row {
    border-top: 1px solid var(--light-gray-color);
}
.search-result-row-link {
    display: block;
    padding: 1.3rem 1.5rem 1.2rem;
    font-size: 1.5rem;
    line-height: 1.4;
}
.search-result-row-link:hover {
    background-color: var(--lighter-gray-color);
    opacity: 1;
}
