.author {
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.author-image-placeholder {
    flex-shrink: 0;
    overflow: hidden;
    width: 40px;
    border-radius: 50%;
    margin: 5px auto 0px auto;
}

.author-name {
    margin-bottom: 0;
    font-size: 2.4rem;
}

.author-meta {
    margin-top: 0.5rem;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.author-bio {
    margin-top: 1rem;
    max-width: 500px;
}

.author-social {
    margin-top: 2rem;
}

.author-list {
    display: flex;
}

.author-list .author-image-placeholder {
    margin: 0 -4px;
    width: 54px;
    border: 2px solid var(--white-color);
}

.author-list .author-image-placeholder:first-child {
    z-index: 10;
}

.author-list .author-image-placeholder:nth-child(2) {
    z-index: 9;
}

.author-list .author-image-placeholder:nth-child(3) {
    z-index: 8;
}

.author-list .author-image-placeholder:nth-child(4) {
    z-index: 7;
}

.author-list .author-image-placeholder:nth-child(5) {
    z-index: 6;
}
