.feed {
    position: relative;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem 0;
    line-height: 1;
}

.feed > * {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.feed:hover .feed-title {
    color: #111;
}
.theme-dark .feed:hover .feed-title {
    color: #ddd;
}

.feed:hover .feed-right {
    margin-right: 1.6rem;
}

.feed:hover .feed-icon {
    transform: translateX(0.4rem);
}

.feed + .feed {
    border-top: 1px solid var(--light-gray-color);
}

.feed + .feed.feed-paged {
    margin-top: 3rem;
    border-top: 0;
}

.feed-options {
    margin-top: 3px;
}

.feed-options i {
    margin-right: 1rem;
}

.feed-description {
    display: block;
}

.feed .catbox {
    display: block;
    margin-top: 0;
}
.feed .cat {
    font-size: 1rem;
    min-width: max-content;
    margin-right: .3rem;
    transition: .2s;
}
.feed:hover .cat {
    color: var(--brand-color);
}

.picture-grid {
    list-style: none;
}

.picture-grid .img-frame {
    width: 95%;
}

.feed-calendar {
    margin-right: 1.5rem;
    min-width: 45px;
    color: var(--brand-color);
    font-size: 1.1rem;
    font-weight: 800;
    white-space: nowrap;
}

.feed-calendar > div {
    display: inline-block;
}

.feed-calendar-month {
    margin-right: 0.4rem;
    text-transform: uppercase;
}

.feed-title {
    font-size: 1.6rem;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0 0 .5rem 0;
    max-width: 570px;
}

.feed-right {
    align-items: center;
    transition: margin 0.2s var(--animation-base);
    position: absolute;
    right: 0px;
    top: 15px;
}

.feed-visibility {
    margin-right: 1rem;
    width: 16px;
    height: 16px;
    color: var(--orange-color);
}

.feed-visibility-public {
    display: none;
}

.feed-length {
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    white-space: nowrap;
}

.feed-icon {
    position: absolute;
    right: 0;
    top: 13px;
    color: var(--secondary-text-color);
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

.view-count {
    color: var(--brand-color);
}

.theme-dark .gotoimage {
    background-image: url("/content/images/2021/01/bird-white.png");
    background-size: 100%;
    background-position: 0 0;
    filter: invert(1);
}
.gotoimage {
    margin-left: 5px;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    background-image: url("/content/images/2021/01/bird.png");
    background-size: 100%;
    background-position: 0 0;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
    vertical-align: middle;
}

.theme-dark .gototop span {
    color: #000;
}

.theme-dark .gototop a {
    background: rgba(0, 0, 0, 0) url("/assets/images/icon-up.png") no-repeat scroll center top;
    filter: invert(1);
}
.gototop a {
    background: rgba(0, 0, 0, 0) url("/assets/images/icon-up.png") no-repeat scroll center top;
    display: table;
    font-size: 12px;
    height: 40px;
    padding-top: 30px;
    text-align: center;
    width: 40px;
    transition-duration: .2s;
}

/* search tools */
.tools {
    display: none;
    position: relative;
}
.tools .is-quoted {
    font-style: italic;
    font-size: .75em;
    text-align: left;
    margin: 0 10px;
    cursor: default;
    width: 40px;
    display: inline-block;
}
.tools input[type=radio] {
    height: 12px;
    width: 12px;
    cursor: pointer;
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    display: inline-block;
    margin-top: 12px;
    margin-right: 2px;
}
.tools input[type=radio] + label {
    text-transform: uppercase;
    font-size: .8em;
    cursor: default;
    display: inline-block;
    margin-top: 12px;
    margin-right: 15px;
}
.tools .fa-question-circle {
    color: #888;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    font-size: .8em;
    cursor: pointer;
    transition: .2s;
}
.tools .fa-question-circle.on {
    color: #f56a6a;
}

.item-count {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 767px) {
    .feed-title {
        margin: 0 0 .5rem 0;
    }
}

@media (max-width: 400px) {
    .feed-title {
        display: block;
        margin: .5rem 0 .5rem 0;
    }
}
