.single-header {
    margin-bottom: 4.5rem;
    text-align: center;
}

.single-meta {
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.single-meta-item + .single-meta-item::before {
    content: "\02022";
    padding: 0 0.3rem;
    font-family: serif;
}

.single-meta-tag .post-tag {
    color: var(--brand-color);
}

.single-title {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.single-excerpt {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-style: italic;
}

.aside {
    margin-left: 100px;
    width: 85%;
}

.single-excerpt.detailed {
    margin-bottom: 1rem;
    margin-top: 0rem;
    font-size: 1.6rem;

    padding: 10px 15px;
    border-radius: 3px;
    line-height: 1.33;
}

.theme-dark .single-excerpt.detailed {
    background-color: #353a44;
}

.theme-light .single-excerpt.detailed {
    background-color: #f7f7f7;
}

.single-media {
    margin-top: 4.5rem;
}

.single-cta {
    margin-top: 4rem !important;
    padding: 3rem;
    border-top: 5px solid var(--brand-color);
    border-bottom: 1px solid var(--light-gray-color);
    text-align: center;
}

.single-cta-title {
    margin: 0 0 3rem !important;
}

.single-cta-button {
    margin-bottom: 1rem;
    font-weight: 800 !important;
}

.single-cta-footer {
    font-size: 1.4rem;
    font-weight: 400 !important;
    letter-spacing: -0.02rem;
}

.single-footer {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
}

.single-footer-left,
.single-footer-right {
    flex: 2;
    display: flex;
}

.single-footer-right {
    justify-content: flex-end;
}

.single-footer-middle {
    display: flex;
    flex-direction: column;
}

.single-footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-footer-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.single-footer-bottom {
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .single-header {
        margin-bottom: 3rem;
    }

    .single-title {
        font-size: 2.6rem;
    }

    .single-excerpt {
        font-size: 1.7rem;
    }

    .single-media {
        margin-top: 3rem;
    }

    .aside {
        margin-left: 0px;
        width: 100%;
    }
}
